<%= render "shared/header" %>



<div class="history">
<h1 class="historys" >注文履歴</h1>
<div class="purchase">
<% sum_price = 0 %>
<% sum_donate = 0 %>
<% @orders.each do |order| %>
<% order.order_returns.each do |order_return| %>

<div class="buy">
  <%= image_tag order_return.return.images[0],size:"100",class:"buy_image" %>

    <div class="history-detail">

     <p class="buy_details"><%= "プロジェクト：#{order_return.return.item.item_name}" %></p>
     <p class="buy_details"><%= "リターン: #{order_return.return.return_name}" %></p>

    <div class="buy-history">
     <p class="buy_detail"><%= "価格：#{number_to_currency((order_return.return.return_price.to_i), locale:"jp")}" %> ×</p>
     <p class="buy_detail"><%= order_return.quantity %>個</p>
    </div>
     <p class="buy_detail"><%= "購入金額：#{number_to_currency((order_return.return.return_price.to_i)*(order_return.quantity.to_i), locale:"jp")}" %></p>
     <p class="buy_detail">
     <%= "(寄付額：#{number_to_currency((order_return.return.return_donate.to_i)*(order_return.quantity.to_i), locale:"jp")})" %></p>

     <% sum_price = sum_price+(order_return.return.return_price.to_i*order_return.quantity.to_i) %>
     <% sum_donate = sum_donate+(order_return.return.return_donate.to_i*order_return.quantity.to_i) %>
     <% sum = sum_price*sum_donate %>

    </div>

</div>
<% end %>
<% end %>

</div>
<h2 class="history-price"><%= "合計購入金額：#{number_to_currency(sum_price, locale:"jp")}" %></h2>
<h2 class="history-price"><%= "(合計寄付額：#{number_to_currency(sum_donate, locale:"jp")})" %></h2>
</div>



<%= render "shared/footer" %>









