<%= render "shared/header" %>

<%= devise_error_messages! %>
<div class="title_background">
 <h1 class="password-forget">パスワードを忘れてしまった方へ</h1>

  <p class="email-input">以下の欄に登録したメールアドレスをご入力ください。</p>
</div>
<div class="pass_new_background">
  
    <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>

      
        <%= f.label :email %><br />
        <p class="in_field"><%= f.email_field :email, autofocus: true, autocomplete: "email" %></p>
        <p class="in_field"><%= f.submit "再設定メールを送る",:class=>"form_login_btn col-xs-12" %></p>
  
    <% end %>
</div>
<div class="back"><%= link_to 'トップページへ戻る', "/" %></div>

<%= render "shared/footer" %>
