 <body>
    <header>

      <div class="site-header-wrapper">

       <div class="site-header-title">
       <%= link_to(root_path, class:"title-logo") do  %>
       <%= image_tag "items/shiaeru_logo", width:"180",height:"80" , class:"title-icon" %>
       <p class="shiaeru">しあえる</p>
       <% end %>
       </div> 

       <div class="hunber">

         <ul class="nav__wrapper" id="navi">
           <% if user_signed_in? %> 
           <li class="nav__item"><%= link_to "買い物かご", my_cart_path, class:"header_page" %></li>
           <li class="nav__item"><%= link_to "マイページ", mypage_user_path(current_user.id), class:"header_page" %></li>
           <li class="nav__item"><%= link_to 'ログアウト', destroy_user_session_path, method: :delete, class:"header_page" %></li>
           <% else %>
           <li class="nav__item"><%= link_to '新規登録', new_user_registration_path, class:"header_page" %></li>
           <li class="nav__item"><%= link_to 'ログイン', new_user_session_path, class:"header_page" %></li>   
           <% end %>
           <li class="nav__item"><a href="https://www.sonettique.com/">会社概要</a></li>   
           <li class="nav__item"><%= link_to 'お問い合わせ', new_inquiry_path, class:"header_page" %></li>   
         </ul> 

        <div class="btn-trigger" id="btn-gnavi">
         <span></span>
         <span></span>
         <span></span>
       </div>

       </div>


      </div>

   </header> 
  </body>







