 <body>
    <header>
      <div class="site-header-wrapper">
       <div class="site-header-title">
       <%= link_to(root_path, class:"") do  %>
       <%= image_tag "items/yoko_color.png", width:"180",height:"80" , class:"title-icon" %>
       <% end %>
       </div> 

         <ul class="nav__wrapper">
           <% if user_signed_in? %> 
           <li class="nav__item"><%= link_to "買い物かご", my_cart_path %>
            <span class="cart_icon", id="cart_icon"></span>
          </li>
           <li class="nav__item"><%= link_to "マイページ", mypage_user_path(current_user.id) %></li>
           <li class="nav__item"><%= link_to 'ログアウト', destroy_user_session_path, method: :delete %></li>
           <% else %>
           <li class="nav__item"><%= link_to '新規登録', new_user_registration_path %></li>
           <li class="nav__item"><%= link_to 'ログイン', new_user_session_path %></li>   
       
           <% end %>
         </ul>  
      </div>
    </header> 
  </body>