
<% unless @returns.return_name == "※現在このリターン商品はありません" %>
<%= link_to(item_return_path(@returns.item_id, @returns.id), class: 'item_returns-btn') do  %>
<p class="item_returns-name"><%= @returns.return_name %></p>
<%= image_tag @returns.images[0], class: "item_returns-image" %> 
<p class="items-prices">¥<%= number_to_currency(@returns.return_price.to_s, locale:"jp") %></p>


<p class="item_return-donate">(寄付額：<%= number_to_currency(@returns.return_donate.to_s, locale:"jp") %>)</p>


<p class="returns-text">支援する</p>
<object>
  <% if user_signed_in? && (current_user.email == "earth_r@i.softbank.jp") %>
  <%= link_to "編集", edit_item_return_path(@returns.item_id, @returns.id), method: :get, class:"orner-edit" %>
  <%= link_to "削除", item_return_path(@returns.item_id, @returns.id), method: :delete, class:"orner-edit" %>
  <% end %> 
</object>  
<% end %>
<% end %>
