<%= render "shared/header" %>

<div class='slider'>
<p id="arrow-prev" class="arrow"><span><</span></p>
<ul class="slider-inner"></ul>
<p id="arrow-next" class="arrow"><span>></span></p>
</div>

<div class="nav-btn">
<ul class="nav"></ul>
</div>

<h3 class="project-list">ウクライナ緊急支援プロジェクト</h3>

<div class="SDGs">
<span><%= image_tag "items/ADRA.png", width:"300", height:"300", class:"sdgs" %></span>
</div>

<div class="shiaeru-content"> 

   <div class="activities">
    <p class="shiaeru-detail">ウクライナのためになにかしたい・・・</p>
    <p class="sub-title">しあえるはウクライナのために緊急支援プロジェクトを立ち上げました。</p>
    <p class="sub-title">対象商品を購入していただいた場合、売上金を全額ウクライナに寄付させていただきます。</p>
    <p class="sub-title">ご支援よろしくお願いいたします。</p>
    <%= link_to(item_path(@ukurainapage[0][:id]), class: 'shiaeru-btn') do  %>
    <p class="shiaeru-text">詳しくはこちら</p>
    <% end %>
  </div>
  
</div>

<h3 class="shiaeru-project">ウクライナ緊急支援対象商品</h3>

<div class="main">
 <%= render partial: "@ukuraina", collection: @ukuraina %>
</div>

 <%# <h1 class="service-title1">しあえるプロジェクト</h1>
  <h1 class='service-title2'>地球がすべての生命にとって、良い世界になることを目指して</h1>
   <h1 class='service-title3'>応援・ご支援・よろしくお願いいたします</h1> %>

<h3 class="project-list">商品一覧</h3>
 <%= link_to(item_list_path, class: 'product-list-btn') do  %>
<p class="product-list">商品一覧へ ＞</p>
    <% end %>



<div class="main">
 <%= render partial: "@returns", collection: @returns %>
</div>




<h3 class="shiaeru-project">しあえるの活動</h3>

<div class="shiaeru-content"> 

   <div class="activities">
    <p class="shiaeru-detail"> 「みんなのできるコトから」をシェアしあえる場</p>
    <p class="sub-title">ビジョン：すべての人たちの環境問題への意識を自分ごと化させ、各個人ができることから行動させたい</p>
    <p class="sub-title">ミッション：多くの人たちの想いをシェアしあえる環境をつくり、今できることをしっかりとカタチにさせる</p>
    <p class="sub-title">3S：( Sincere ・ Share・ See through)</p>
    <%= link_to(shiaeru_users_path, class: 'shiaeru-btn') do  %>
    <p class="shiaeru-text">詳しくはこちら</p>
    <% end %>
  </div>
  
</div>

<h3 class="project-list">ブランドから探す</h3>
<p class="SDGs-text">自然環境保全に関する目標を３つ掲げています！</p>

<div class="SDGs">
<span><%= image_tag "items/SDGs.png", width:"300", height:"300", class:"sdgs" %></span>
<span><%= image_tag "items/SDGs.goal.png", width:"300", height:"300", class:"sdgs" %></span>
</div>

 <%= link_to(brand_list_path, class: 'product-list-btn') do  %>
<p class="product-list">ブランド一覧へ ＞</p>
    <% end %>

<div class="main">
 <%= render partial: "brands/brand", collection: @brands %>
</div>

<% if user_signed_in? && (current_user.email == "earth_r@i.softbank.jp") %>
<%= link_to(new_brand_path, class: 'purchase-btns') do  %>
  <span class='purchase-btn-texts'>ブランド登録</span>
<% end %> 
<% end %>


<h3 class="project-list">寄付先から探す</h3>
 <%= link_to(project_list_path, class: 'product-list-btn') do  %>
<p class="product-list">寄付先一覧へ ＞</p>
    <% end %>

<div class="main">
 <%= render partial: "item", collection: @items %>
</div>
<% if user_signed_in? && (current_user.email == "earth_r@i.softbank.jp") %>
<%= link_to(new_item_path, class: 'purchase-btns') do  %>
  <span class='purchase-btn-texts'>プロジェクト登録</span>
<% end %> 
<% end %>



<%= render "shared/footer" %>