<%= render "shared/header" %>
<div class='title-contents'>
 <h1 class="service-title1">しあえるプロジェクト</h1>
  <h1 class='service-title2'>地球がすべての生命にとって、良い世界になることを目指して</h1>
   <h1 class='service-title3'>応援・ご支援・よろしくお願いいたします</h1>
</div>



<h3 class="shiaeru-project">しあえるの活動</h3>




<div class="shiaeru-content">

  
 

   <div class="activities">
    <p class="shiaeru-detail"> 「みんなのできるコトから」をシェアしあえる場</p>
    <p class="sub-title">ビジョン：すべての人たちの環境問題への意識を自分ごと化させ、各個人ができることから行動させたい</p>
    <p class="sub-title">ミッション：多くの人たちの想いをシェアしあえる環境をつくり、今できることをしっかりとカタチにさせる</p>
    <p class="sub-title">3S：( Sincere ・ Share・ See through)</p>
    <%= link_to(shiaeru_users_path, class: 'shiaeru-btn') do  %>
    <p class="shiaeru-text">詳しくはこちら</p>
    <% end %>
  </div>
  
</div>



<h3 class="project-list">プロジェクト一覧</h3>


<div class="main">
 <%= render partial: "item", collection: @items %>
</div>
<% if user_signed_in? && (current_user.email == "earth_r@i.softbank.jp") %>
<%= link_to(new_item_path, class: 'purchase-btns') do  %>
  <span class='purchase-btn-texts'>プロジェクト登録</span>
<% end %> 
<% end %>


<h3 class="project-list">ブランド一覧</h3>


<div class="main">
 <%= render partial: "brands/brand", collection: @brands %>
</div>



<% if user_signed_in? && (current_user.email == "earth_r@i.softbank.jp") %>
<%= link_to(new_brand_path, class: 'purchase-btns') do  %>
  <span class='purchase-btn-texts'>ブランド登録</span>
<% end %> 
<% end %>

<%= render "shared/footer" %>

