<%= render "shared/header" %>


<div class="project-show">
  <%= @item.item_name %>
</div>

<div class="project-image">
  <%= image_tag @item.image, class: "project-img" %> 
  <div class='projectsample'>
            <span>sample</span>
          </div>
</div>



<div class="project-content">
  <div class="project-detail">
    <h2 class="project-text">プロジェクト本文</h2>
    <% if @item.item_name == "日本自然保護協会" %>
    <p class="text", style="white-space:pre-wrap;"><%= @item.item_info %></p>
    <p>↓↓シュライヒ様のURLはこちら↓↓</p>
    <a href="https://www.schleich-s.com/ja/JP/home" class="url">https://www.schleich-s.com/ja/JP/home</a>
    <p> ↓↓日本自然保護協会様のURLはこちら↓↓</p>
    <a href="https://www.nacsj.or.jp/" class="url">https://www.nacsj.or.jp/</a>
    <% end %>
     
  </div>   
  <div class="project-return">
    <h2 class="project-text-price">リターン</h2>
    <%= render partial: "@return", collection: @returns %>
  </div>
</div>

<% if user_signed_in? && (current_user.email == "earth_r@i.softbank.jp") %>
<%= link_to(new_item_return_path(@item.id), class: 'purchase-btn') do  %>
  <span class='purchase-btn-text'>リターン登録</span>
<% end %>
<% end %>

<%= render "shared/footer" %>

