
<li class='list'>
  <%= link_to brand_path(brand.id), class:"item_list" do %>
  <%= image_tag brand.image, class: "item-img" %> 
  <p class="item-info"><%= brand.brand_name %></p>
      <% if user_signed_in? && (current_user.id == 1) %>
       <%= link_to "編集", edit_brand_path(brand.id), method: :get, class: "item-red-btn" %>
       <%= link_to "削除", brand_path(brand.id), method: :delete, class:"item-destroy" %>
      <% end %>
  <% end %>  
</li>             