<%= render "shared/header" %>
<div class="brand-content">
<div class="brand-image"><%= image_tag @brand.image, width:"500", class:"brand-img" %>
<%# <div class='showsample'>
            <span>sample</span>
          </div> %>
</div>          
<div class="brand-text", style="white-space:pre-wrap;"><%= @brand.brand_info %></div>
</div>

<% if @brand.brand_name != "募集中" %>
<h3 class="project-lists"><%= "商品一覧" %></h3>
<% end %>
<div class="brand-return">
<% @returns.each do |returns| %>
<% if returns.brand_kinds_id == @brand.id  %>


<%= link_to item_return_path(returns.item_id,returns.id), class: 'item_returns-btn' do  %>
<p class="item_returns-name"><%= returns.return_name %></p>
<%= image_tag returns.images[0], class: "item_returns-image" %> 
<p class="items-prices">¥<%= number_to_currency(returns.return_price.to_s, locale:"jp") %></p>
<p class="item_return-donate">寄付額：¥<%= number_to_currency(returns.return_donate.to_s, locale:"jp") %></p>
<p class="support">支援先：<%=returns.item.item_name %></p>
<% end %>
<% end %>
<% end %>
</div>
 

<%= render "shared/footer" %>




