<%= render "shared/header" %>

<h1 class="brand-detail"><%= "#{@brand.brand_name}の商品一覧" %></h1>
<div class="brand-return">
<% @returns.each do |returns| %>
<% if returns.brand_kinds_id == @brand.id  %>
<%= link_to item_path(returns.item_id), class: 'brand-returns-btn' do  %>
<p class="returns-name"><%= returns.return_name %></p>
<%= image_tag returns.images[0], class: "returns-image" %> 
<p class="item-price">¥<%= number_to_currency(returns.return_price.to_s, locale:"jp") %></p>
<p class="donate">(自然保護団体への寄付額：<%= number_to_currency(returns.return_donate.to_s, locale:"jp") %>)</p>
<p class="returns-text">このリターンのあるプロジェクトへ</p>
<% end %>
<% end %>
<% end %>
</div>
  <p class="text", style="white-space:pre-wrap;"><%= @brand.brand_info %></p>

<%= render "shared/footer" %>




