<!DOCTYPE html>
<html>
  <head>
    <title>Shiaeru</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
  <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, user-scalable=yes">
    <script type="text/javascript" src="https://js.pay.jp/v1/"></script>
    <%= stylesheet_link_tag 'application', media: 'all' %>
  
    <%= javascript_pack_tag 'application', media: 'all' %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
